:root{
  --mainBlue:#77a9f0;
  --lightBlue:#a6e3e9;
  --mainWhite:#e3fdfd;
  --mainDark:#041520f6;
  --mainYellow: #041520f6;
}
body{
  font-family: "Oswald", sans-serif !important;

background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  color: var(--mainDark) !important;
}

.text-title{
font-family: 'Permanent Marker', cursive;
letter-spacing: 0.3 rem;
text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainYellow);
}